<div class="article-footer-copyright">
    <p><span>本文标题:</span><href="<%- url_for(' ') %>"> <%= post.title %></a></p>
    <p><span>文章作者:</span><a href="/" title="访问 <%= config.author %>的个人博客"><%= config.author %></a></p>
    <p><span>发布时间:</span><%= post.date.format("YYYY年MM月DD日 - HH:mm") %></p>
    <p><span>最后更新:</span><%= post.updated.format("YYYY年MM月DD日 - HH:mm") %></p>
    <p><span>原始链接:</span><a href="<%= url_for(post.path) %>" title="<%= post.title %>"><%= post.permalink %></a>
    <span class="copy-path"  title="点击复制文章链接"><i class="fa fa-clipboard" data-clipboard-text="<%= post.permalink %>"  aria-label="复制成功！"></i></span>
    </p>
    <p><span>许可协议:</span><i class="fab fa-creative-commons"></i> <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank" title="Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)" rel="external nofollow">CC BY-NC-ND 4.0</a> 转载请保留原文链接及作者</p>  
</div>
